#backToTop {
    right: 40px;
    bottom: 55px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: .25s;
    position: fixed;
    z-index: 100;
    transition: .4s ease 0s;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 35px;
    border-radius: 3px;
    background: #fff;
    color: #878787;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    transition: opacity .4s ease, visibility .4s ease, margin-right 0s;
    box-shadow: 0 0 3px #0003
}

#backToTop.progress_bar_true {
    height: 50px;
    width: 50px;
    line-height: 50px
}

#backToTop.is--show {
    opacity: 1;
    visibility: visible;
    z-index: 193
}

#backToTop svg {
    width: 12px
}

#backToTop.back-to-top__design2:hover,
#backToTop:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--light-color)
}

#backToTop .circle--inner {
    display: inline-flex;
    align-items: center;
    justify-content: center
}

#backToTop .circle-css {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px
}

#backToTop.back-to-top__design1 .circle--bg,
#backToTop.back-to-top__design1 .circle--inner {
    border-radius: 2px
}

#backToTop.progress_bar_true,
#backToTop.progress_bar_true:hover {
    border: none;
    color: var(--cricle-active)
}


@media (max-width:1024px) {
    #backToTop {
        right: 15px
    }
}

#backToTop {
    bottom: 55px
}

a,
body,
center,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
label,
li,
ol,
section,
var {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    background-color: #fff;
    color: #878787;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    scroll-behavior: smooth
}

section {
    display: block
}

a {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

a {
    color: #333;
    text-decoration: none;
    transition: all .25s ease
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none
}

a:hover {
    color: #242424
}


svg:not(:root) {
    overflow: hidden
}


.px-4 {
    --ts-gutter-x: 4px
}


.text-center {
    text-align: center !important
}


.pf {
    position: fixed
}

.op-0 {
    opacity: 0
}


.w-100 {
    width: 100%
}

.h-100 {
    height: 100%
}



body {
    background-color: var(--body-background)
}

.circle-css {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    --border-minus: calc(var(--border-w, 1px) * 2)
}

.circle--inner {
    width: calc(100% - var(--border-minus));
    height: calc(100% - var(--border-minus));
    background: #fff;
    position: relative;
    z-index: 2;
    border-radius: inherit
}

.circle--bg {
    border-radius: inherit;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--cricle-active, #000) var(--cricle-degrees), var(--cricle-normal, #eee) var(--cricle-degrees));
    mask: radial-gradient(circle, transparent 62%, #fff calc(62% + 1px));
    -webkit-mask: radial-gradient(circle, transparent 62%, #fff calc(62% + 1px));
    will-change: background;
    transition: background .15s ease-in-out 0s
}
